<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:include="layout/header" />
<style>
.price {
	color: black;
	font-size: 22px;
}

.price:before {
	content: '$.';
}

.text {
  display: block;
  width: 300px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
</style>

<body id="page-top">

	<th:block th:include="layout/navigation" />

	<div id="wrapper">

		<!-- Sidebar -->
		<th:block th:include="layout/sidebar" />

		<div id="content-wrapper">


			<div class="container-fluid" style="height: 550px; overflow: scroll">

				<!-- Breadcrumbs-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="#">Dashboard</a></li>
					<li class="breadcrumb-item active">Products</li>
				</ol>

				<div class="text-left">
				<a th:href="@{/Product/create}" class="btn btn-primary"
				   style="color: white; padding: 2px; font-size: 15px;"><i
						class="fas fa-plus"> | Add New Product</i></a>
				</div>

				<div class="text-left">
					<a th:href="@{/Product/report}" class="btn btn-primary"
					   style="color: white; padding: 2px; font-size: 15px;"><i class="fa fa-print"> | Export all product</i></a>
				</div>
				<div class="text-left">
					<form method="post" th:action="@{/Product/upload}" enctype="multipart/form-data">
						<button  class="btn btn-primary"
						   type="submit"><i class="fas fa-file-import"> | Import file .xlsx | .txt many product</i></button>
						<input type="file" id="file" name="file">
					</form>

				</div>
				<br>

				<!-- DataTables Example -->
				<div class="card mb-3">
					<div class="card-header">
						<i class="fas fa-table"></i> Product List
					</div>
					<div class="card-body">
						<div class="table-responsive">
							<table class="table table-bordered" id="dataTable">
								<th:block th:include="products/formerTable" />
								<tbody>
									<th:block th:each="product,state : ${listproduct}">
										<tr>
											<td><p th:text="${state.count}"></p></td>
											<td><p th:text="${product.name}"></p></td>
											<td><p class="text" th:text="${product.description}"></p></td>
											<td><p th:text="${product.status}"></p></td>
											<td><th:block th:each="pc : ${product.categoryDTOs}">
													<p class="tag badge badge-primary" th:text="${pc.name}"></p>
													<br>
												</th:block></td>
											<td><p class="price" th:text="${product.price}"></p></td>
											<!-- ${pageContext.request.contextPath} -->
											<td><img th:src="@{/images/}+ ${product.image}"
												width="100px"></td>
											<td><a th:href="@{/Product/view/} + ${product.id}"><span
													class="label label-warning" style="font-size: 15px;">View</span></a>
												| <a th:href="@{/Product/update/} + ${product.id}"
												style="font-size: 15px;">Edit</a> | <a data-toggle="modal"
												data-target="#deleteModal"
												th:attr="data-target='#deleteModal'+${product.id }"
												style="font-size: 15px;" href="">Delete</a></td>
										</tr>

										<!-- Delete Modal-->
										<div class="modal fade" th:id="deleteModal+${product.id }"
											tabindex="-1" role="dialog"
											aria-labelledby="exampleModalLabel" aria-hidden="true">
											<div class="modal-dialog" role="document">
												<div class="modal-content">
													<div class="modal-header">
														<h5 class="modal-title" id="exampleModalLabel">Are
															you sure to delete this product?</h5>
														<button class="close" type="button" data-dismiss="modal"
															aria-label="Close">
															<span aria-hidden="true">X</span>
														</button>
													</div>
													<div class="modal-body">
														<p th:text="${product.name}"></p>

													</div>
													<div class="modal-footer">
														<button class="btn btn-primary" type="button"
															data-dismiss="modal">Back</button>
														<a class="btn btn-danger"
															th:href="@{/Product/delete/{id}(id=${product.id})}">Delete</a>
													</div>
												</div>
											</div>
										</div>
									</th:block>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>



			<!-- /.container-fluid -->

			<!-- Sticky Footer -->
			<th:block th:include="layout/footer" />

		</div>
		<!-- /.content-wrapper -->

	</div>
	<!-- /#wrapper -->

	<!-- Scroll to Top Button-->
	<th:block th:include="layout/scrolldown" />

	<!-- Bootstrap core JavaScript-->
	<th:block th:include="layout/boostrapLib" />

</body>

</html>