<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="layout/header" />
<script src="//cdn.ckeditor.com/4.13.1/standard/ckeditor.js"></script>

<body id="page-top">

	<th:block th:include="layout/navigation" />

	<div id="wrapper">

		<!-- Sidebar -->
		<th:block th:include="layout/sidebar" />

		<div id="content-wrapper" class="overflow-auto">

			<div class="container" style="height: 550px; overflow: scroll;">

				<!-- Breadcrumbs-->
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a th:href="@{/Product}">Products</a></li>
					<li class="breadcrumb-item active">Add Product</li>
				</ol>

				<!-- Data Form Input Example -->
				<form method="post" th:action="@{/Product/save}"
					th:object="${product}">
					<div class="row">
						<div class="col-md-8">
							<div class="card mb-3">
								<div class="card-header">Add Product</div>

								<div class="card-body">
									<div class="row">
										<div class="form-group col-md-12">
											<label for="name" class="col-form-label">Name</label> <input
												type="text" name="name" class="form-control" id="name"
												placeholder="Enter Name of Product" required="required" />
										</div>
										<div class="form-group col-md-12">
											<label for="description" class="col-form-label">Description</label>
											<textarea name="description" class="form-control"
												id="description" placeholder="Enter Description of Product"
												required="required"></textarea>
										</div>
										<div class="form-group col-md-12">
											<label for="price" class="col-form-label">Price</label> <input
												type="text" name="price" class="form-control" id="price"
												placeholder="Enter Price of Product" required="required" />
										</div>
										<div class="form-group col-md-12">

											<label for="image" class="col-form-label">Image</label>
											<input
												type="file" name="image" class="form-control" id="image"
												placeholder="Choose File Image of Product" />
											<!-- <form id="singleUploadForm" name="singleUploadForm">
												<input id="singleFileUploadInput" type="file" name="file"
													class="file-input" required />
												<button type="submit" class="primary submit-btn">Submit</button>
											</form> -->
										</div>

										<div class="col-md-12">
											<div class="row">
												<div class="col-md-10">
													<a th:href="@{/Product}"><input type="button"
														class="btn btn-secondary" style="float: right;"
														value="Cancel"></a>
												</div>
												<div class="col-md-2">
													<input type="submit" class="btn btn-primary"
														style="float: left;" value="Create ">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="card mb-3">
								<div class="card-header">Select Category</div>

								<div class="card-body">
									<!-- Choose available category -->
									<div class="form-group col-md-12">
										<label for="category" class="col-form-label">Choose
											Category</label> <select class="selectpicker" multiple
											data-selected-text-format="count > 3" name="listCategory"
											id="example-getting-started" required="required">
											<option th:each="category,state : ${listCategory}"
												th:value="${category.id}" th:utext="${category.name}">
											</option>
										</select>

										<!-- End chose category -->
									</div>
									<div class="col-md-12">
										<a href="#" data-toggle="modal" data-target="#addCatModal">
											<button class="btn btn-success"
												style="float: right; font-size: 10px;">Create new
												Category</button>
										</a>
									</div>

								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<!-- Add new Category -->

			<div class="modal fade" id="addCatModal" tabindex="-1" role="dialog"
				aria-labelledby="exampleModalLabel" aria-hidden="true">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLabel">Add new
								category</h5>
							<button class="close" type="button" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">X</span>
							</button>
						</div>
						<form th:object="${newCat}" th:action="@{/Product/category}"
							method="POST">
							<div class="modal-body">
								<div class="form-group col-md-12">
									<label for="category_name" class="col-form-label">Name</label>
									<input type="text" name="name" class="form-control" id="name"
										placeholder="Enter Name of Category" />
								</div>
							</div>
							<div class="modal-footer">
								<button class="btn btn-secondary" type="button"
									data-dismiss="modal">Cancel</button>
								<input type="submit" class="btn btn-primary" value="Create">
							</div>
						</form>
					</div>
				</div>
			</div>



			<!-- /.container-fluid -->

			<!-- Sticky Footer -->
			<th:block th:include="layout/footer" />

		</div>
		<!-- /.content-wrapper -->

	</div>
	<!-- /#wrapper -->


	<!-- Scroll to Top Button-->
	<th:block th:include="layout/scrolldown" />

	<!-- Bootstrap core JavaScript-->
	<th:block th:include="layout/boostrapLib" />
	<!-- <script src="plugins/bootstrap-select/js/bootstrap-select.js"
		th:src="@{/plugins/bootstrap-select/js/bootstrap-select.js}"></script> -->
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.min.js"></script>
	<script>
		$(document)
				.ready(
						function() {

							$('#example-getting-started')
									.multiselect(
											{
												numberDisplayed : 1,
												includeSelectAllOption : true,
												allSelectedText : 'All Categories selected',
												nonSelectedText : 'No Category selected',
												selectAllValue : 'all',
												selectAllText : 'Select all',
												unselectAllText : 'Unselect all',
												onSelectAll : function(checked) {
													var all = $('#example-getting-started ~ .btn-group .dropdown-menu .multiselect-all .checkbox');
													all
															// get all child nodes including text and comment
															.contents()
															// iterate and filter out elements
															.filter(
																	function() {
																		// check node is text and non-empty
																		return this.nodeType === 3
																				&& this.textContent
																						.trim().length;
																		// replace it with new text
																	})
															.replaceWith(
																	checked ? this.unselectAllText
																			: this.selectAllText);
												},
												onChange : function() {
													debugger;
													var select = $(this.$select[0]);
													var dropdown = $(this.$ul[0]);
													var options = select
															.find('option').length;
													var selected = select
															.find('option:selected').length;
													var all = dropdown
															.find('.multiselect-all .checkbox');
													all
															// get all child nodes including text and comment
															.contents()
															// iterate and filter out elements
															.filter(
																	function() {
																		// check node is text and non-empty
																		return this.nodeType === 3
																				&& this.textContent
																						.trim().length;
																		// replace it with new text
																	})
															.replaceWith(
																	options === selected ? this.options.unselectAllText
																			: this.options.selectAllText);
												}
											});

						});
	</script>
	<script type="text/javascript">
		var editor = '';
		$(document).ready(function() {
			editor = CKEDITOR.replace('description');
		});
	</script>
</body>

</html>