<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<th:block th:include="layout/header" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body class="animsition">

	<!-- Header -->
	<header class="header1">
		<!-- Header desktop -->
		<th:block th:include="layout/navigationDesktop" />

		<!-- Header Mobile -->
		<th:block th:include="layout/navigationMobile" />

	</header>

	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-6">
				<div class="text-center mt-4">
					<h1 class="display-1">401</h1>
					<p class="lead">Unauthorized</p>
					<p>Access to this resource is denied.</p>
					<a th:href="@{/wines/}"><i class="fa fa-arrow-left"></i>Return
						to Dashboard</a>
				</div>
			</div>
		</div>
	</div>
	<!-- Footer -->
	<th:block th:include="layout/footer" />



	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top"> <i
			class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection -->
	<div id="dropDownSelect1"></div>
	<div id="dropDownSelect2"></div>



	<!--===============================================================================================-->
	<th:block th:include="layout/script">
</body>
</html>
