<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<th:block th:include="layout/header" />
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body class="animsition">

	<!-- Header -->
	<header class="header1">
		<!-- Header desktop -->
		<th:block th:include="layout/navigationDesktop" />

		<!-- Header Mobile -->
		<th:block th:include="layout/navigationMobile" />

	</header>

	<!-- Title Page -->
	<section class="bg-title-page p-t-50 p-b-40 flex-col-c-m">

		<div class="row mb-5 justify-content-center">
			<div class="col-7 section-title text-center mb-5">
				<h2 class="d-block">Introduce</h2>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<th:block th:include="layout/footer" />



	<!-- Back to top -->
	<div class="btn-back-to-top bg0-hov" id="myBtn">
		<span class="symbol-btn-back-to-top"> <i
			class="fa fa-angle-double-up" aria-hidden="true"></i>
		</span>
	</div>

	<!-- Container Selection -->
	<div id="dropDownSelect1"></div>
	<div id="dropDownSelect2"></div>



	<!--===============================================================================================-->
	<th:block th:include="layout/script">
</body>
</html>
